html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.form-label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 1.5rem;
}

.hidden {
  display: none;
}

#error-message {
  color: red;
  display: none;
}

.sliding-bar {
  position: absolute;
  height: 3px;
  background-color: blue;
  transition: all 0.3s ease-in-out;
}
